<!-- ejs mate  -->
<% layout("layouts/boilerplate") %>  
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3 class="new-head">Edit Listing</h3>
            <form method="post" action="/listings/<%=listingdata._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%=listingdata.title%>" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" class="form-control" required><%=listingdata.description%></textarea>
                    <div class="invalid-feedback">Please enter short description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Original Image</label><br>
                    <img src="<%= orgImageUrl %>" alt="_img">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input type="file" name="listing[image][url]" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" value="<%=listingdata.price%>" class="form-control" required>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" value="<%=listingdata.country%>" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%=listingdata.location%>" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <button class="btn btn-dark add-btn">Edit</button>
            </form>
        </div>
    </div>
</body>
